<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Growler</title>
</head>

<body>
  <div id="growler">
    <h2 v-once>{{ appName }}</h2>
    <input v-model="query" placeholder="Search...">
    <br />
    <br />
    <div>Searching for: {{ query }}</div>
    <br />
    <button type="button" v-on:click="executeSearch">Search</button>
    <br />
    <p>Example of radio button binding</p>
    <label class="form-check-label">
      <input type="radio" value="beers" v-model="searchIndex">
      Beers
    </label>
    <label class="form-check-label">
      <input type="radio" value="breweries" v-model="searchIndex">
      Breweries
    </label>
    <p>Value of radio button is: {{searchIndex}}</p>
    <br />
    <p>Example of single dropdown</p>
    <select v-model="selectedSearchIndex">
      <option value="beers">Beers</option>
      <option value="breweries">Breweries</option>
      <option value="pubs">Pubs</option>
      <option value="distilleries">Distilleries</option>
    </select>
    <p>The selected dropdown value is: {{selectedSearchIndex}}</p>


  </div>
  <script type="text/javascript" src="https://unpkg.com/vue"></script>
  <script type="text/javascript" src="./growler.js"></script>
</body>

</html>